<!--此标记表明此文件可被设计器更新,如果不允许此操作,请删除此行代码.design by:agebull designer date:2020/4/17 0:01:58-->
<!DOCTYPE html>
<html>
<head>
    <meta name='renderer' content='webkit'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=21'/>
    <title>
        消息链路跟踪 > None > 消息存储
    </title>
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width'/>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8-bom'/>
    <!--font-awesome-->
    <link rel='stylesheet' type='text/css' href='http://cdn.staticfile.org/font-awesome/5.8.2/css/all.min.css'>
    <!--JQuery-->
    <script type='text/javascript' src='http://cdn.staticfile.org/jquery/3.4.1/jquery.min.js'></script>
    <!--VUE-->
    <link rel='stylesheet' type='text/css' href='http://cdn.staticfile.org/element-ui/2.8.2/theme-chalk/index.css'>
    <script type='text/javascript' src='http://cdn.staticfile.org/vue/2.6.10/vue.js'></script>
    <script type='text/javascript' src='http://cdn.staticfile.org/element-ui/2.8.2/index.js'></script>
    <script type='text/javascript' src='http://cdn.staticfile.org/element-ui/2.8.2/locale/zh-CN.min.js'></script>
    <!--Extend-->
    <script type='text/javascript' src='../../js/extend/vue_ex.js'></script>
    <script type='text/javascript' src='../../js/extend/core.js'></script>
    <script type='text/javascript' src='../../js/extend/ajax.js'></script>
    <script type='text/javascript' src='../../js/extend/ajax_vue.js'></script>
    <script type='text/javascript' src='../../js/extend/extend.js'></script>
    <script type='text/javascript' src='../../js/extend/type.js'></script>
    <link rel='stylesheet' type='text/css' href='../../styles/vuePage.css' />

</head>
<body>
<div id='work_space' class='tiled' v-cloak>
    <el-container style='height: 100%; width: 100%'>
        <el-header style='height:54px'>
            <div style='display: inline-block;'>
                <el-button-group>
                    <el-tooltip placement='top' effect='light'>
                        <div slot='content'>重新载入数据</div>
                        <el-button icon='el-icon-refresh' @click='loadList'></el-button>
                    </el-tooltip>
                    <el-tooltip placement='top' effect='light'>
                        <div slot='content'>导出Excel</div>
                        <el-button icon='fa fa-file-excel-o' @click='exportExcel'></el-button>
                    </el-tooltip>
                    <el-tooltip placement='top' effect='light'>
                        <div slot='content'>新增一条数据</div>
                        <el-button icon='fa fa-plus' @click='doAddNew'></el-button>
                    </el-tooltip>
                    <el-tooltip placement='top' effect='light'>
                        <div slot='content'>编辑当前选行的数据</div>
                        <el-button icon='el-icon-edit' @click='doEdit'></el-button>
                    </el-tooltip>
                    <el-tooltip placement='top' effect='light'>
                        <div slot='content'>删除当前选中的一或多行数据的数据</div>
                        <el-button icon='fa fa-times' @click='doDelete'></el-button>
                    </el-tooltip>
                </el-button-group>
            </div>
            <div style='display: inline-block; float: right'>
                <el-input placeholder='请输入搜索内容' v-model='list.keyWords' class='input-with-select' clearable>
                    <el-select v-model='list.field' slot='prepend' placeholder='选择字段' style='width: 160px;'>
                        <el-option value='_any_' label='模糊查询'></el-option>
                        <el-option value='TraceId' label='全局标识'></el-option>
                        <el-option value='Level' label='调用层级'></el-option>
                        <el-option value='ApiName' label='接口名称'></el-option>
                        <el-option value='Start' label='开始时间'></el-option>
                        <el-option value='End' label='结束时间'></el-option>
                        <el-option value='LocalId' label='本地标识'></el-option>
                        <el-option value='LocalApp' label='本地应用'></el-option>
                        <el-option value='LocalMachine' label='本地机器'></el-option>
                        <el-option value='CallId' label='请求标识'></el-option>
                        <el-option value='CallApp' label='请求应用'></el-option>
                        <el-option value='CallMachine' label='请求机器'></el-option>
                        <el-option value='Context' label='上下文信息'></el-option>
                        <el-option value='Token' label='身份令牌'></el-option>
                        <el-option value='Headers' label='请求头信息'></el-option>
                        <el-option value='Message' label='消息文本'></el-option>
                        <el-option value='FlowStep' label='流程记录'></el-option>
                    </el-select>
                    <el-button slot='append' icon='el-icon-search' @click='doQuery'></el-button>
                </el-input>
            </div>
        </el-header>
        <el-main style='margin: 0; padding: 0'>
            <template>
                <!-- Grid -->
                <el-table :data='list.rows'
                          border
                          ref='dataTable'
                          highlight-current-row
                          @sort-change='onSort'
                          @row-dblclick='dblclick'
                          @current-change='currentRowChange'
                          @selection-change='selectionRowChange'
                          style='width: 100%'>
                    <el-table-column type='selection'
                                     align='center'
                                     header-align='center'>
                    </el-table-column>
                    <el-table-column prop='TraceId'
                                     header-align='center' align='left'
                                     label='全局标识' width=300>
                    </el-table-column>
                    <el-table-column prop='Level'
                                     header-align='center' align='left'
                                     label='调用层级' width=80>
                    </el-table-column>
                    <el-table-column prop='ApiName'
                                     header-align='center' align='left'
                                     label='接口名称'>
                    </el-table-column>
                    <el-table-column prop='Start'
                                     header-align='center' align='left'
                                     label='开始时间' width=160>
                        <template slot-scope='scope'>
                            <span style='margin-left: 3px'>
                                {{scope.row.Start | formatTime}}
                            </span>
                        </template>
                    </el-table-column>
                    <el-table-column prop='End'
                                     header-align='center' align='left'
                                     label='结束时间' width=160>
                        <template slot-scope='scope'>
                            <span style='margin-left: 3px'>
                                {{scope.row.End | formatTime}}
                            </span>
                        </template>
                    </el-table-column>
                    <el-table-column prop='Token'
                                     header-align='center' align='left'
                                     label='身份令牌' width=160>
                    </el-table-column>
                    <el-table-column type='expand'>
                        <template slot-scope='props'>
                            <el-form label-position='left' inline>
                                <el-form-item label='主键' prop='Id'>
                                    <span>{{props.row.Id}}</span>
                                </el-form-item>
                                <el-form-item label='本地标识' prop='LocalId'>
                                    <span>{{props.row.LocalId}}</span>
                                </el-form-item>
                                <el-form-item label='本地应用' prop='LocalApp'>
                                    <span>{{props.row.LocalApp}}</span>
                                </el-form-item>
                                <el-form-item label='本地机器' prop='LocalMachine'>
                                    <span>{{props.row.LocalMachine}}</span>
                                </el-form-item>
                                <el-form-item label='请求标识' prop='CallId'>
                                    <span>{{props.row.CallId}}</span>
                                </el-form-item>
                                <el-form-item label='请求应用' prop='CallApp'>
                                    <span>{{props.row.CallApp}}</span>
                                </el-form-item>
                                <el-form-item label='请求机器' prop='CallMachine'>
                                    <span>{{props.row.CallMachine}}</span>
                                </el-form-item>
                                <el-form-item label='上下文信息' prop='Context' size='large'>
                                    <span>{{props.row.Context}}</span>
                                </el-form-item>
                                <el-form-item label='请求头信息' prop='Headers' size='large'>
                                    <span>{{props.row.Headers}}</span>
                                </el-form-item>
                                <el-form-item label='消息文本' prop='Message' size='large'>
                                    <span>{{props.row.Message}}</span>
                                </el-form-item>
                                <el-form-item label='流程记录' prop='FlowStep' size='large'>
                                    <span>{{props.row.FlowStep}}</span>
                                </el-form-item>
                            </el-form>
                        </template>
                    </el-table-column>
                </el-table>
            </template>
        </el-main>
        <el-footer style='border-top:1px solid #ebebeb;'>
            <el-pagination @size-change='sizeChange'
                           @current-change='pageChange'
                           background
                           layout='total, sizes, prev, pager, next, jumper'
                           :current-page='list.page'
                           :page-sizes='list.pageSizes'
                           :page-size='list.pageSize'
                           :total='list.total'>
            </el-pagination>
        </el-footer>
    </el-container>
    <!-- Form -->
    
     <el-dialog title='消息存储编辑'
                :visible.sync='form.visible'
                v-loading='form.loading'
                element-loading-text='正在处理'
                element-loading-spinner='el-icon-loading'
                element-loading-background='rgba(0, 0, 0, 0.8)'>
            <div class='el-dialog__body_form'>
            <el-form :model='form.data'
                     :rules='form.rules'
                     label-position='left'
                     label-width='100px'
                     ref='dataForm' 
                     @submit.native.prevent>
            <el-form-item label='主键' prop='Id'>
                <el-input v-model='form.data.Id' placeholder='主键' auto-complete='off' clearable :readonly='form.readonly'></el-input>
            </el-form-item>
            <el-form-item label='全局标识' prop='TraceId'>
                <el-input v-model='form.data.TraceId' placeholder='全局标识' auto-complete='off' clearable :readonly='form.readonly'></el-input>
            </el-form-item>
            <el-form-item label='调用层级' prop='Level'>
                <el-input v-model='form.data.Level' placeholder='调用层级' auto-complete='off' clearable :readonly='form.readonly'></el-input>
            </el-form-item>
            <el-form-item label='接口名称' prop='ApiName'>
                <el-input v-model='form.data.ApiName' placeholder='接口名称' auto-complete='off' clearable :readonly='form.readonly'></el-input>
            </el-form-item>
            <el-form-item label='开始时间' prop='Start'>
                <el-date-picker v-model='form.data.Start' placeholder='开始时间' clearable :readonly='form.readonly'value-format='yyyy-MM-ddTHH:mm:ss' type='datetime' style='width:100%'></el-date-picker>
            </el-form-item>
            <el-form-item label='结束时间' prop='End'>
                <el-date-picker v-model='form.data.End' placeholder='结束时间' clearable :readonly='form.readonly'value-format='yyyy-MM-ddTHH:mm:ss' type='datetime' style='width:100%'></el-date-picker>
            </el-form-item>
            <el-form-item label='本地标识' prop='LocalId'>
                <el-input v-model='form.data.LocalId' placeholder='本地标识' auto-complete='off' clearable :readonly='form.readonly'></el-input>
            </el-form-item>
            <el-form-item label='本地应用' prop='LocalApp'>
                <el-input v-model='form.data.LocalApp' placeholder='本地应用' auto-complete='off' clearable :readonly='form.readonly'></el-input>
            </el-form-item>
            <el-form-item label='本地机器' prop='LocalMachine'>
                <el-input v-model='form.data.LocalMachine' placeholder='本地机器' auto-complete='off' clearable :readonly='form.readonly'></el-input>
            </el-form-item>
            <el-form-item label='请求标识' prop='CallId'>
                <el-input v-model='form.data.CallId' placeholder='请求标识' auto-complete='off' clearable :readonly='form.readonly'></el-input>
            </el-form-item>
            <el-form-item label='请求应用' prop='CallApp'>
                <el-input v-model='form.data.CallApp' placeholder='请求应用' auto-complete='off' clearable :readonly='form.readonly'></el-input>
            </el-form-item>
            <el-form-item label='请求机器' prop='CallMachine'>
                <el-input v-model='form.data.CallMachine' placeholder='请求机器' auto-complete='off' clearable :readonly='form.readonly'></el-input>
            </el-form-item>
            <el-form-item label='上下文信息' prop='Context' size='large'>
                <el-input v-model='form.data.Context' placeholder='上下文信息' auto-complete='off' clearable :readonly='form.readonly' type='textarea' :rows='3'></el-input>
            </el-form-item>
            <el-form-item label='身份令牌' prop='Token'>
                <el-input v-model='form.data.Token' placeholder='身份令牌' auto-complete='off' clearable :readonly='form.readonly'></el-input>
            </el-form-item>
            <el-form-item label='请求头信息' prop='Headers' size='large'>
                <el-input v-model='form.data.Headers' placeholder='请求头信息' auto-complete='off' clearable :readonly='form.readonly' type='textarea' :rows='3'></el-input>
            </el-form-item>
            <el-form-item label='消息文本' prop='Message' size='large'>
                <el-input v-model='form.data.Message' placeholder='消息文本' auto-complete='off' clearable :readonly='form.readonly' type='textarea' :rows='3'></el-input>
            </el-form-item>
            <el-form-item label='流程记录' prop='FlowStep' size='large'>
                <el-input v-model='form.data.FlowStep' placeholder='流程记录' auto-complete='off' clearable :readonly='form.readonly' type='textarea' :rows='3'></el-input>
            </el-form-item>
            </el-form>
        </div>
        <div slot='footer' v-if='!form.readonly'>
            <el-button icon='el-icon-close' @click='form.visible = false'>取消</el-button>
            <el-button icon='el-icon-check' @click='save' type='primary'>保存</el-button>
        </div>
    </el-dialog>
</div>
<script type='text/javascript' src='script.js'></script>
</body>
</html>