[Unit]
Description=Apache Zookeeper server (Kafka)
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target
 
[Service]
Type=simple
User=nano
Group=nano
Environment=JAVA_HOME=/usr/java/jdk1.8.0_102
ExecStart=/usr/kafka/bin/zookeeper-server-start.sh /usr/kafka/config/zookeeper.properties
ExecStop=/usr/kafka/bin/zookeeper-server-stop.sh
 
[Install]
WantedBy=multi-user.target